
div, span, h1, h2, h3, h4, h5, h6, p, img, nav, section
{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline; 
}

body {
  font-size:100%;
  line-height: 1.4;
}

blockquote {
    margin: 1em;
    padding: 0.5em 1em;
    border-left: 4px solid #CCC;
    color: #666;
}

header h1 {
    margin-top: 0.5em;
    padding: 0.2em;
    font-size: 170%;
    background-color: #EEE;
    border: 1px solid #DDD;
    margin-bottom:1em;
}

h1 {
    margin-top: 2em;
    font-size: 150%;
    border-bottom: 2px solid #CCC;
    background-color: #EEEEEE;
    margin-bottom:1em;
    padding: 0.3em 0.5em;
}

h2 {
    margin-top: 1.5em;
    font-size: 130%;
    color : #333;
    border-bottom: 2px solid #CCC;
    background-color: #F8F8F8;
    margin-bottom:1em;
    border-left: 4px solid #999;
    padding: 0.3em 0.5em;
}

h3 {
    margin-top: 1.5em;
    font-size: 110%;
    border-bottom: 2px solid #CCC;
    margin-bottom:1em;
}

h4 {
    margin-top: 1.5em;
    font-size: 100%;
    margin-bottom:1em;
}

code, tt {
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    border-radius: 3px;
    overflow:auto;
}

pre {
    padding:1em;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow:auto;
}

pre code {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #F8F8F8;
}

table {
    border :1px solid #999;
    border-collapse: collapse;
}

table td, table th {
    border :1px solid #AAA;
    padding: 0.5em;
    font-size:90%;
}

dl, ol, ul {
    margin: 0.5em;
    padding:0 0 0 2em;
}

p.author,
p.pubdate{
    text-align:center;
}