<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%= @lang %>">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../style/epub.css" type="text/css" />
  <title>奥付</title>
</head>
<body class="colophon" epub:type="backmatter">
<header>
    <h1 id="contentIndex_id_1">奥付</h1>
</header>
<article>

  <p>有料メルマガの購読、課金、未達に関するお問い合わせは、reader_yuryo@mag2.com までお願いいたします。これらの件については、有限会社ネオローグにご連絡いただいても対応いたしかねますので、あらかじめご了承ください。</p>
  <hr />

  <ul>
    <li>Web：<a href="http://xtc.bz/">http://xtc.bz/</a></li>

    <li>Twitter：<a href="http://twitter.com/tsuda">http://twitter.com/tsuda</a></li>

    <li>Facebook page：<a href="http://www.facebook.com/daisuke.tsuda">http://www.facebook.com/daisuke.tsuda</a></li>

    <li>Google+：<a href="http://plus.google.com/107266595111301357110">http://plus.google.com/107266595111301357110</a></li>

    <li>Ustream：<a href="http://www.ustream.tv/user/tsuda">http://www.ustream.tv/user/tsuda</a></li>

    <li>Tumblr：<a href="http://tsuda.tumblr.com/">http://tsuda.tumblr.com/</a></li>

    <li>Flickr：<a href="http://www.flickr.com/photos/xtcbz">http://www.flickr.com/photos/xtcbz</a></li>

    <li>YouTube：<a href="http://www.youtube.com/user/xtcbz">http://www.youtube.com/user/xtcbz</a></li>

    <li>Klout：<a href="http://klout.com/tsuda">http://klout.com/tsuda</a></li>
  </ul>
  <hr />

  <p>□ 発行元：有限会社ネオローグ　<a href="http://www.neo-logue.com/">http://www.neo-logue.com/</a></p>

  <p>□ 発行責任者：津田大介（@tsuda）</p>

  <p>□ 編集：松本香織（@tekitoeditor）</p>

  <p>□ スタッフ：小嶋裕一（@mutevox）、香月啓佑（@kskktk）</p>

  <p>※本メルマガに掲載される記事の著作権は（対談など一部のコンテンツを除き）発行元及び発行責任者に帰属します。記事の引用、転載、雑誌掲載などは事前連絡なくご自由に行っていただいて結構ですが、引用については公正な慣行、転載については常識の範囲内でお願いできれば幸いです。引用、転載、雑誌掲載いずれの場合も、本メルマガのコンテンツを利用される場合は出典を付記するようお願いいたします。</p>

  <p>※このメルマガの発行日は第1〜第4水曜日です。ゴールデンウィーク、お盆、年末年始には、適宜、合併号を発行します。なお、取材期間などの関係で不定期に休刊することがあります。</p>
  <hr />

  <p>★メルマガ、アーカイブ機能★</p>

  <p>まぐまぐでご購読中のメルマガをブラウザ上で読める便利なマイページサービス『Mag Mail』がありますので、ご利用ください。<a href="http://my.mag2.com/">http://my.mag2.com/</a></p>

  <p>また、Gmailにて本メルマガが迷惑メールとして処理されてしまう方は、<a href="http://www.mag2.com/read/gmail.html">http://www.mag2.com/read/gmail.html</a>を参考に設定してください。</p>

</article>
</body>
</html>
