<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%= @lang %>">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../style/epub.css" type="text/css" />
  <title><%= pagetitle %></title>
</head>
<body epub:type="bodymatter">
<header>
    <h1 id="contentIndex_id_1"><%= pagetitle %></h1>
</header>
<article>

<%= pagebody %>

</article>
</body>
</html>
